main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border: 10px green solid;
    margin-bottom: 2rem;
}

h1 {
    color: green;
}

button {
    border-radius: 0%;
    background: orange;
    color: white;
    font-size: medium;
    padding-left: 1em;
    padding-right: 1em;
}